* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #f5f5f5;
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("background-image.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("background-image.jpg");
    background: cover;
    font-size: 16px;
}

.quote-container {  
    overflow: hidden;
    height: 200px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 16%;
    z-index: -1;
}

h1 {
    font-family: "Satisfy", cursive;
    font-size: 40px;
    color: #f5f5f5;
    text-align: center;
    font-weight: 200;
}

h4 {
    color: #f5f5f5;
    margin-top: 2%;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
}

button:focus {
    outline: 0;
}

.add-quote-btn,
.quote-btn {
    color: #f5f5f5;
    background-color: #191f2c;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    letter-spacing: 1px;
    margin-bottom: 1%;
}

.add-quote-btn:hover,
.quote-btn:hover {
    background-color: #474d58;
}

/*----Modal----*/

.modal {
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    width: 50%;
    height: 60%;
    display: none;
    margin-top: 5%;
    background-color: #1f191d;
    margin-top: -27%;
    z-index: 1;
}

.user-quote {
    display: block;
    margin: 0 auto;
    padding: 1% 1%;
    font-size: 16px;
    margin-bottom: 5%;
    margin-top: 35%;
    width: 45%;
    height: 100px;
}


.user-author {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 1% 1%;
    width: 45%;
    font-size: 16px;
    margin-bottom: 8%;
}

.x-button {
    float: right;
    display: block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #1f191d;
    color: #fafafa;
    border: none;
    margin-bottom: 7%;
    margin-left: 55%;
}

.x-button:hover {
    background-color: #464646;
}

.add-user-quote {
    margin-bottom: 4%;
    color: #f5f5f5;
    background-color: #2e374a;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    letter-spacing: 1px;
    margin-bottom: 7%;
}

.add-user-quote:hover {
    background-color: #3d4960;
}

/*----Animation classes----*/

.modal-slide-down {
    -webkit-animation: "slideDown";
    animation: "slideDown";
    -webkit-animation-duration: 350ms;
    animation-duration: 350ms;
}

.text-appear {
    -webkit-animation: "textAppear";
    animation: "textAppear";
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
}

.slide-up {
    -webkit-animation: "slideUp";
    animation: "slideUp";
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
}

/*----Animations----*/

@-webkit-keyframes slideDown {
    from {
        -webkit-transform: translateY(-500px);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes textAppear {
    0 {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.50;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes textAppear {
    0 {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.50;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
